.input {
  display: flex;

  width: 80vw;
  position: relative;
  align-items: center;
}

.input_box {
  width: 60vw;
  border-radius: 2px;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  border: none;
}

.input_box:focus {
  outline: none;
}

.input_submit {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 0.7rem;
  background-color: black;
  color: white;
  transition: 0.2s all;
}

.input_submit:hover {
  background-color: #333334;
}

.input_submit:active {
  transform: scale(0.8);
}

.container {
  display: flex;
  align-items: center;
  width: 100vw;
}

.todos {
  background-color: #6d1ff0;
  color: antiquewhite;
  flex-direction: column;
  padding: 1rem;
  border-radius: 3px;
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: #05ef37;
}

.remove {
  background-color: #4ef271;
  color: #333334;
}

.todos__heading {
  font-size: 1.2rem;
  font-weight: 500;
}

.todos__single {
  justify-content: space-between;
  display: flex;
  border-radius: 5px;
  border: #333334 solid 1px;
  padding: 0.8rem 0.6rem;
  margin-top: 1rem;
  transition: 0.2s;
}

.todos__single:hover {
  transform: scale(1.03);
}

.todos__single--text {
  display: flex;
  flex-direction: row;
  border: none;
  font-size: 1rem;
  width: 70%;
}

.todos__single--text:focus {
  outline: none;
}

.icon__wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  width: 30%;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

@media (min-width: 700px) {
  .container {
    width: 100vw;
    justify-content: center;
    background-color: aquamarine;
    align-items: flex-start;
  }
  .todos {
    margin: 0.6rem;
    width: 30vw;
    min-height: 20vh;
  }
}

@media (max-width: 700px) {
  .input {
    width: 80vw;
  }
  .icon {
    font-size: 1rem;
  }
  .container {
    width: 100vw;
    flex-direction: column;
  }
  .todos {
    width: 90vw;
    margin-bottom: 10px;
  }
  .todos__single--text {
    font-size: 0.9rem;
  }
}
